
.Careers_heading1{
    color: tomato;
    font-weight:600;
    
}

.Careers_div1{
    margin-left: 10px;
}

.Careers_Job_Opening{
    margin-left: 10px;
    color: rgb(0, 0, 255,0.7);
    font-weight: 700;
}

.Careers_UI,.Careers_Shopify,.Careers_WooCommerce,.Careers_Magento,.Careers_BigCommerce{
    font-weight: 700;
    color: slategray;
}

.Magento_Content,.UI_UX_Content,.Shopify_Content,.WooCommerce_Content,.BigCommerce_Content{
    font-weight: 500;
    color: black;
    
}