.Contact_Heading1,
.Contact_Details,
.Contact_Address,
.Contact_Address_Details {
    margin-left: 10px;
}

.Contact_Heading1 {
    color: tomato;
    font-weight: 600;

}

.Contact_Address {
    font-weight: 600;
    color: slategray;
}

.Contact_Details_Content,
.Contact_Address_Details {

    color: black;
    font-size: medium;

}

.i_frame {
    width: 100%;
    border: 1px solid black !important;
}

@media (max-width:576px) {
    .i_frame {
        width: 100%;
        border: 1px solid black !important;
    }
}

@media (max-width:768px){
    .i_frame {
        width: 100%;
        border: 1px solid black !important;
    }
}

@media (max-width:1400px){
    i_frame {
        width: 100%;
        border: 1px solid black !important;
    }
}