
.f_home,.f_services,.f_techStack,.f_portfolio,.f_about,.f_careers,.f_contact,.f_help{
    text-decoration: none;
    font-weight: 600;
    color: slategray;

    
}

.f_home:hover{
    color: blue !important;
    font-weight: bolder;
    
}

.f_services:hover {
    color: blue !important;
    font-weight: bolder;
}

.f_techStack:hover{
    color: blue !important;
    font-weight: bolder;
}


.f_portfolio:hover{
    color: blue !important;
    font-weight: bolder;
}

.f_about:hover{
    color: blue !important;
    font-weight: bolder;
}

.f_careers:hover{
    color: blue !important;
    font-weight: bolder;
}

.f_contact:hover{
    color: blue !important;
    font-weight: bolder;
}

.f_help:hover{
    color: blue !important;
    font-weight: bolder;
} 

.Footer_S1{
    color: rgb(0, 0, 255,0.7);
    font-size: large;
}

.Footer_C1{
    color: rgb(0, 0, 255,0.7);
    font-size: large;
}

.Footer_C2{
    color: rgb(255, 99, 71,0.8);
    font-size: large;
}

.Footer_p1{
    font-weight: 500;
    color: slategray;
    text-align: justify;
}

.Footer_Address,.Footer_Email,.Footer_tollFree,.Footer_Mob{
    font-weight: 500;
    color: slategray;
    text-align: justify;
}