
.techStack_content{
    color: tomato;
    font-weight:700;
}

.teckStack_shopify,.teckStack_WooCommerce,.teckStack_magento,.teckStack_BigCommerce{
    font-weight: 800;
    color: slategray;
}

@media (max-width:475px){
    .TeckStack_Magento_Image{
        margin-top: 35px;
    }
    .TeckStack_BigCommerce_Image{
        margin-top: -43px;
    }
    .TeckStack_Woocommerce_Image{
        margin-top: -25px;
    }
}

@media (max-width:576px){
    .TeckStack_Woocommerce_Image{
        margin-top: -35px;
    }

    .TeckStack_Magento_Image{
        margin-top: 35px;
    }

    .TeckStack_BigCommerce_Image{
        margin-top: -45px;
    }
}