
.techStack_content{
    color: tomato;
    font-weight:700;
}

.teckStack_shopify,.teckStack_WooCommerce,.teckStack_magento,.teckStack_BigCommerce{
    font-weight: 800;
    color: slategray;
}